---
layout: page
title: "Imaging in Paris"
description: "Séminaire Parisien des Mathématiques Appliquées à  l'Imagerie"
header-img: "img/paris1.png"
---

<p>
  Bienvenu sur le site du Séminaire Parisien des Mathématiques Appliquées à l'Imagerie.
  $$x^2$$
</p>

<p>
  Le but de ce séminaire est de couvrir le domaine des mathématiques de l'imagerie.
  Il est ouvert à tous. Le séminaire a lieu le premier jeudi de chaque mois à <a href="venir/">l'IHP</a>, de 14h à 16h. Chaque séance est composée de deux exposés.
</p>

<p>
  Vous pouvez consulter la <a href="next/">liste des séminaires à venir</a> ainsi que celle <a href="past/">des séminaire passés</a>.
</p>


<p>
  Les organisateurs :
  <ul>
  <li><a href="http://perso.telecom-paristech.fr/~almansa/HomePage/">Andres Almansa (CNRS et Telecom-Paris)</a></li>
  <li><a href="https://delon.wp.mines-telecom.fr/">Julie Delon (Paris 5)</li>
  <li><a href="http://desolneux.perso.math.cnrs.fr/">Agnès Desolneux (CNRS et ENS Cachan)</a></li>
  <li><a href="https://fadili.users.greyc.fr/">Jalal Fadili (ENSICAEN)</a></li>
  <li><a href="http://www.math-info.univ-paris5.fr/~bgalerne/">Bruno Galerne (Paris 5)</a></li>
  <li><a href="http://perso.telecom-paristech.fr/~gousseau/">Yann Gousseau (Telecom Paris)</a></li>
    <li><a href="http://gpeyre.github.io/">Gabriel Peyré (CNRS et Paris-Dauphine)</a></li>
  </ul>
</p>

<hr/>

<h2>Remerciements</h2>

Le séminaire est hébergé par <a href="http://www.ihp.fr">l'IHP</a>, et est labélisé par le groupe <a href="http://smai.emath.fr/spip.php?article406">SIGMA</a> de la SMAI et le <a href="https://fadili.users.greyc.fr/mia/">GdR MIA</a>.

<p align="center">

<a href="http://www.ihp.fr">
<img width="150" src="img/logo-ihp.jpg"/>
</a>

<a href="http://smai.emath.fr/spip.php?article406">
<img width="150" src="img/logo-sigma.jpg"/>
</a>

<a href="https://fadili.users.greyc.fr/mia/">
<img width="150" src="img/logo-mia.jpg"/>
</a>

</p>

<hr/>


{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
